@CHARSET "utf-8";
/*======O======*/
.watermark {
	color: #999 !important;
}

.watermark2 {
	color: #999 !important;
	font-style: italic !important;
}

.watermark3 {
	color: #c77 !important;
}

.gtgt {
	display: inline;
	font-family: Simsun;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: auto;
	line-height: 19px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	width: auto;
}
/*======head======*/
.head {
	width: 100%;
	background-color: #2d2d2d;
	border: 0px;
	height: 30px;
	text-align: left;
	border: 0px;
	border-bottom: solid 2px #009900;
}

.head .usr {
	float: right;
	line-height: 30px;
}

.head .usr a, .head .usr a:visited {
	font-size: 13px;
	font-family: 微软雅黑;
	color: #fff;
	display: inline-block;
	padding: 0px 6px;
}

.head .usr a:hover {
	background: #009900;
	text-decoration: none;
}

.head .usr .u-split {
	color: #999;
	font-size: 12px;
}

.head .usr .u-name {
	color: #fff;
}

.head .usr a.setting {
	background-image: url("../img/icon/set.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 20px;
}

.ktzsetting{
	background-image: url("../img/icon/pushpin16.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 20px;
}

.head .usr .u-name a:hover {
	background: none;
	text-decoration: underline;
}
/*======foot======*/
.foot {
	border: 0px;
	text-align: center;
	border-top: solid 3px #ccc;
	color: #666;
	padding: 10px;
	background: #f7f7f7;
}

.foot p {
	height: 22px;
	line-height: 22px;
}
/*======main======*/
.main {
	width: 1000px;
	padding: 0px;
	margin: 0px auto;
}

.submain {
	width: 938px;
	padding: 30px;
	background-color: #FcFcFC;
	border: solid 1px #d3d3d3;
}

.left {
	float: left;
}

.right {
	float: right;
}
/*======list======*/
.mainnav {
	border-bottom: solid 1px #d3d3d3;
	width: 100%;
}

.mainnav-2 {
	border-bottom: solid 2px #d3d3d3;
	width: 100%;
}

.mainnav-2 .breadcrumb {
	padding-left: 6px;
	height: 30px;
	line-height: 30px;
	font-family: 微软雅黑;
}

.mainnav-2 .breadcrumb .home {
	padding-left: 20px;
	background-image: url("../img/icon/home.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

.mainnav-2 .breadcrumb a {
	font-weight: normal;
}

.mainnav-2 .breadcrumb a:hover {
	font-weight: bold;
	text-decoration: none;
}

.mainnav-2 .breadcrumb em {
	margin: 0px 6px;
}

.mainnav ul {
	padding: 0px;
	margin-top: 4px;
}

.mainnav ul li {
	float: left;
}

.mainnav ul li a {
	margin: 2px 4px;
	display: block;
	padding: 4px 6px;
	font-weight: bold;
	text-decoration: none;
}

.mainnav ul li.current a {
	color: #fff;
	background-color: #009900;
}

.items .item {
	padding: 5px;
	border-bottom: dashed 1px #d3d3d3;
	line-height: 30px;
	font-size: 12px;
}

.items .item:hover {
	border-bottom: solid 1px #99cc99;
	background: #eeffee;
}

.items .item table {
	width: 100%;
}

.items .item .title {
	padding-left: 20px;
	background-image: url("../img/icon/arrow1.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
	font-weight: bold;
	font-size: 14px;
}

.items .item:hover .title {
	background-image: url("../img/icon/arrow2.png");
}

.items .item .title2 {
	font-weight: bold;
	font-size: 13px;
}

.items .item .category {
	color: #222;
	/*font-weight: bold*/;
}

.items .item .short {
	line-height: 24px;
	text-indent: 2em;
	/*width:695px;*/
}

.short2 {
	line-height: 24px;
	text-indent: 2em;
	width:695px;
}

.short2 img {
	width:690px;
	max-width: 690px;
}

.short {
	line-height: 24px;
	text-indent: 4em;
	/*width:695px;*/
}

.items .item-edit {
	margin: 10px 0px 0px 10px;
	line-height: 50px;
	font-size: 12px;
	width: 100%;
}

.items .item-edit tr {
	border-bottom: dashed 1px #d3d3d3;
}

.items .info {
	margin: 10px 0px 0px 10px;
	line-height: 40px;
	font-size: 12px;
}

.items .info .title {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.items .info table {
	width: 100%;
}

.items .info tr {
	border-bottom: dashed 1px #d3d3d3;
}

.items .info tr .c {
	color: #222;
}

.sidenav {
	margin: 5px 0px;
	font-family: 微软雅黑;
}

.sidenav h5 {
	font-size: 14px;
	border-bottom: solid 1px #99ccff;
	padding: 6px;
	color: #333;
}

.sidenav h5 .highlight {
	color: #006cd8;
	font-weight: bold;
	font-size: 16px;
}

.sidenav ul {
	margin: 10px;
}

.sidenav.tag {
	
}

.sidenav .tag li {
	float: left;
}

.sidenav .tag li a {
	display: block;
	padding: 4px 6px;
	margin: 2px;
}

.sidenav .top {
	color: #006cd8;
}

.sidenav .top li {
	line-height: 35px;
	border-bottom: dashed 1px #d3d3d3;
}

.sidenav .top li a {
	font-size: 12px;
	display: block;
	overflow: hidden;
	width: 186px;
	white-space: nowrap;
}

.sidenav .top li a .num {
	font-size: 14px;
}

.sidenav .top li a:hover {
	text-decoration: none;
	font-weight: bold;
}

.mlogin-title {
	border-bottom: solid 2px #d3d3d3;
	width: 100%;
	padding-left: 6px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-family: 微软雅黑;
	letter-spacing: 4px;
	font-weight: bold;
}

.mlogin {
	padding-left: 20px;
	background-image: url("../img/icon/arrow2.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
	color: #006600;
}

.login {
	color: #333;
}

.login table tr td {
	font-size: 14px;
	font-family: 微软雅黑;
	letter-spacing: 2px;
}

.tb-40 {
	width: 100%;
}

.tb-40 tr {
	height: 40px;
	line-height: 40px;
}

.tb-50 {
	width: 100%;
}

.tb-50 tr {
	height: 50px;
	line-height: 50px;
}

.txt {
	padding-left: 5px;
	height: 28px;
	line-height: 24px;
	font-size: 14px;
}

.login .txtusr {
	/**
	padding-left: 20px;
	background-image: url("../img/icon/usr.png");
	background-repeat: no-repeat;
	background-position: 5px 50%;
	**/
	padding-left: 4px;
	height: 28px;
	line-height: 24px;
	font-size: 14px;
}

.login .txtpwd {
	/**
	padding-left: 20px;
	background-image: url("../img/icon/pwd.png");
	background-repeat: no-repeat;
	background-position: 5px 50%;
	**/
	padding-left: 4px;
	height: 28px;
	line-height: 24px;
	font-size: 14px;
}

.login .txtvcode {
	/**
	padding-left: 20px;
	background-image: url("../img/icon/vcode.png");
	background-repeat: no-repeat;
	background-position: 3px 50%;
	**/
	padding-left: 4px;
	height: 28px;
	line-height: 24px;
	font-size: 14px;
}

.login .txtusr2 {
	padding-left: 10px;
	background-position: 5px 50%;
	height: 28px;
	line-height: 24px;
}

.login .txtpwd2 {
	padding-left: 10px;
	background-position: 5px 50%;
	height: 28px;
	line-height: 24px;
}

.bonav {
	margin: 0px 0px;
	font-family: 微软雅黑;
	border: solid 1px #d3d3d3;
	border-top: solid 3px #d3d3d3;
	background: #f8f8f8;
}

.bonav ul {
	margin: 5px;
}

.bonav ul li {
	padding: 2px 15px;
}

.bonav ul li a {
	width: 130px;
	display: block;
	height: 35px;
	line-height: 35px;
	border-bottom: dashed 1px #ebebeb;
	padding-left: 30px;
	/*color: #2b2b2b;*/
	font-size: 14px;
}

.bonav ul li a:hover {
	border-bottom: solid 1px #ebebeb;
	text-decoration: none;
	font-weight: bold;
}

.bonav ul li .current a:hover {
	border-bottom: solid 1px #ebebeb;
	text-decoration: none;
	font-weight: bold;
}

.bonav ul li .current a:hover {
	border-bottom: solid 1px #ebebeb;
	text-decoration: none;
	font-weight: bold;
}

.green2 {
	float: right;
	margin-top: 10px;
}

.debug {
	font-size: 12px;
	font-family: 微软雅黑;
}

.debug .t {
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	letter-spacing: 2px;
}

.debug .c {
	line-height: 30px;
}

.usrItem {
	background-image: url("../img/icon/usr.png");
	background-repeat: no-repeat;
	background-position: 17px 50%;
}

.artItem {
	background-image: url("../img/icon/art.png");
	background-repeat: no-repeat;
	background-position: 15px 50%;
}

.imgItem {
	background-image: url("../img/icon/img.png");
	background-repeat: no-repeat;
	background-position: 15px 50%;
}

.reptItem {
	background-image: url("../img/icon/rept.png");
	background-repeat: no-repeat;
	background-position: 15px 50%;
}

.noteItem {
	background-image: url("../img/icon/note.png");
	background-repeat: no-repeat;
	background-position: 15px 50%;
}

.setItem {
	background-image: url("../img/icon/set.png");
	background-repeat: no-repeat;
	background-position: 15px 50%;
}

.pwdItem {
	background-image: url("../img/icon/pwd.png");
	background-repeat: no-repeat;
	background-position: 18px 50%;
}

.hpItem {
	background-image: url("../img/icon/hp.png");
	background-repeat: no-repeat;
	background-position: 17px 50%;
}

.img-s {
	width: 52px;
	height: 52px;
}

.img-s img {
	width: 48px;
	height: 48px;
	border: solid 1px #eee;
	padding: 2px;
}

.img-s img:hover {
	background: #eee;
}

.img-m {
	width: 68px;
	height: 68px;
}

.img-m img {
	width: 64px;
	height: 64px;
	border: solid 1px #eee;
	padding: 2px;
}

.img-m img:hover {
	background: #eee;
}

.img-l {
	width: 132px;
	height: 132px;
}

.img-l img {
	width: 128px;
	height: 128px;
	border: solid 1px #eee;
	padding: 2px;
}

.img-l img:hover {
	background: #eee;
}

.reg .msg {
	position: relative;
	margin-bottom: 20px;
	padding: 80px 80px 80px 120px;
}

.reg .msg .title {
	font-weight: bold;
	color: #000;
}

.reg .msg .info {
	font-size: 13px;
	line-height: 25px;
}

.reg .msg .info b {
	margin: 0 10px;
	color: red;
	font-weight: normal;
}

.reg .msg .info .btn {
	padding-left: 20px;
}

.reg .msg .tips {
	margin-top: 50px;
	color: #999;
	font-size: 12px;
	line-height: 22px;
}

.reg .msg .tips ul {
	padding-left: 20px;
}

.reg .msg .tips li {
	display: list-item;
	text-align: -webkit-match-parent;
	list-style: disc;
}

.reg .msg .tips li a {
	margin-left: 5px;
}

{
}
.usr-home-tablist {
	border-bottom: solid 1px #ccc;
	margin: 10px auto;
	font-size: 14px;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.usr-home-tablist ul {
	margin: 0px;
	padding: 0px;
	margin-left: 0px;
}

.usr-home-tablist ul li {
	margin-right: 20px;
	float: left;
}

.usr-home-tablist ul li span {
	padding: 0px 18px;
	display: block;
	color: #999;
	border: solid 1px #ccc;
	border-bottom: solid 0px #ccc;
	height: 32px;
	line-height: 32px;
	margin-top: 17px;
	background-color: #fcfcfc;
	cursor: pointer;
}

.usr-home-tablist ul li span:hover {
	color: #666;
}

.usr-home-tablist ul li.current span {
	border: solid 1px #ccc;
	color: #666;
	height: 40px;
	line-height: 40px;
	margin-top: 8px;
	border-top: solid 3px #ccc;
	border-bottom: solid 0px #ccc;
}

.usr-bonav {
	margin: 0px 0px;
	font-family: 微软雅黑;
	border: solid 1px #d3d3d3;
	border-top: solid 3px #d3d3d3;
	background: #f8f8f8;
	padding-bottom: 4px;
}

.usr-bonav h3 {
	color: #111;
	height: 40px;
	line-height: 40px;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	padding-left: 6px;
	border-bottom: solid 1px #d3d3d3;
	background-repeat: no-repeat;
	background-position: 90% 50%;
}

.usr-bonav .titleDiv{
	color: #111;
	height: 40px;
	line-height: 40px;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	padding-left: 6px;
	padding-right: 16px;
	border-bottom: solid 1px #d3d3d3;
}

.usr-bonav ul {
	margin-top: 0px;
	width: 100%;
}

.usr-bonav ul li {
	padding: 4px 0px;
	border-bottom: dashed 1px #ddd;
	font-size: 14px;
	line-height: 25px;
	cursor: pointer;
}

.usr-bonav ul li:hover {
	border-bottom: solid 1px #ddd;
	text-decoration: none;
}

.usr-bonav ul li p, .usr-bonav ul li div {
	float: left;
	padding-left: 6px;
}

.usr-bonav ul li p {
	width: 130px;
	overflow: hidden;
	height: 25px;
}

.usr-bonav ul li p.tag {
	font-size: 12px;
	color: #999;
}
.usr-profile-l{
	width: 100%;
	border-bottom: solid 3px #d3d3d3;
	padding:0px 0px 10px 0px;
	margin-bottom:10px;
}
.usr-profile-l .img-l{
	float:left;
}
.usr-profile-l .profile{
	float:left;
	margin-left:20px;
	margin-top:10px;
	
}
.usr-profile-l .profile p{
	line-height:30px;
	height:30px;
}
.usr-profile-l .profile p .usr-name{
	padding-left:4px;
	font-size:13px;
	font-weight: bold;
}
.usr-profile-l .profile p .usr-sex{
	background: url("../img/icon/fm.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
	width: 40px;
	display: inline-block;
}
.usr-profile-l .profile p .usr-degree{
	padding-left:4px;
}
.usr-profile-l .profile p .usr-us{
	padding-left:4px;
}
.usr-profile-l .rp{
	float:right;
	margin-right:6px;
}
.usr-profile-l .rp p{
	line-height:30px;

}
.usr-profile{
	width: 100%;
	border: solid 1px #d3d3d3;
	border-top: solid 3px #d3d3d3;
	padding:0px 0px 10px 0px;
	margin-bottom:10px;
	background: #f8f8f8;
	padding-top:10px;
}
.usr-profile .img-m{
	float:left;
	margin-left:6px;	
}
.usr-profile .profile{
	float:left;
	margin-left:15px;	
}
.usr-profile .profile p{
	line-height:30px;
	height:30px;
}
.usr-profile .profile p .usr-name{
	background: url("../img/icon/usr.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
	padding-left:20px;
	font-size:13px;
	font-weight: bold;
	overflow: hidden;
	height: 30px;
	width: 100px;
	display: block;
}
.usr-profile .profile p .usr-degree{
	background: url("../img/icon/usr.png");
	background-repeat: no-repeat;
	background-position: 0% 50%;
	padding-left:20px;
	font-size:13px;
	font-weight: bold;
	overflow: hidden;
	height: 30px;
	width: 100px;
	display: block;
}
.usr-profile p .usr-us{
	overflow: hidden;
	height: 22px;
	width: 100px;display: block;
}
.usr-profile .rp{
	margin-left:6px;
}
.usr-profile .rp p{
	line-height:30px;

}
.subject {
	margin-bottom: 10px;
	padding: 5px;
}
.subject .items{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: dashed 1px #d3d3d3;
	width: 100%;
}
.subject .items ul{
	padding: 0px;
	margin-top:4px;
}
.subject .items ul li{
	float: left;
}
.subject .items ul li a {
	margin: 2px 4px;
	display: block;
	padding: 4px 6px;
	font-weight: bold;
	text-decoration: none;
}
.subject .items ul li a:hover {
	color: #fff;
	background-color: #009900;
	
}
.subject .items ul li.current a {
	color: #fff;
	background-color: #009900;
}

.subject .item{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: dashed 1px #d3d3d3;
	width: 100%;
}
.subject .item ul{
	padding: 0px;
	margin-top:4px;
}
.subject .item ul li{
	float: left;
}
.subject .item ul li a {
	margin: 2px 4px;
	display: block;
	padding: 4px 6px;
	text-decoration: none;
}
.subject .item ul li a:hover {
	color: #fff;
	background-color: #009900;
	font-weight: normal;
	
}
.subject .item ul li.current a {
	color: #fff;
	background-color: #009900;
	font-weight: normal;
}

.subject .item-sub{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: dashed 1px #d3d3d3;
	width: 100%;
}
.subject .item-sub ul{
	padding: 0px;
	margin-top:4px;
}
.subject .item-sub ul li{
	float: left;
}
.subject .item-sub ul li a {
	margin: 2px 4px;
	display: block;
	padding: 4px 6px;
	text-decoration: none;
}
.subject .item-sub ul li a:hover {
	color: #fff;
	background-color: #009900;
	font-weight: normal;
	
}
.subject .item-sub ul li.current a {
	color: #fff;
	background-color: #009900;
	font-weight: normal;
}

.subject .sub{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: dashed 1px #d3d3d3;
	width: 100%;
}
.subject .sub ul{
	padding: 0px;
	margin-top:4px;
}
.subject .sub ul li{
	float: left;
}
.subject .sub ul li a {
	margin: 2px 4px;
	display: block;
	padding: 4px 15px 4px 5px;
	
	text-decoration: none;
}
.subject .sub ul li a:hover {
	color: #fff;
	background-color: #009900;
	font-weight: normal;
	
}
.subject .sub ul li.current a {
	color: #fff;
	background-color: #009900;
	background-image:url("../img/icon/close.png");
	background-position:98% 50%;
	background-repeat:no-repeat;
	font-weight: normal;
}
.subject .selectSubject{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: dashed 1px #d3d3d3;
	width: 100%;
}
.subject .selectSubject ul{
	padding: 0px;
	margin-top:4px;
}
.subject .selectSubject ul li{
	float: left;
}
.subject .selectSubject ul li a {
	margin: 2px 4px;
	display: block;
	padding: 4px 15px 4px 5px;
	
	text-decoration: none;
}
.subject .selectSubject ul li a:hover {
	color: #fff;
	background-color: #009900;
	font-weight: normal;
	
}
.subject .selectSubject ul li a {
	color: #fff;
	background-color: #009900;
	background-image:url("../img/icon/close.png");
	background-position:98% 50%;
	background-repeat:no-repeat;
	font-weight: normal;
}
.regrb
{
	margin:0px;
	padding:0px;
	font-size:16px;
	font-family: 微软雅黑;
}
.regrb li
{
	float: left;
	margin:5px 10px;
}
.regrb li a
{
	display: block;
	color:#777;
	padding-left:36px;
	background: url('../img/icon/cb_off.png');
	background-repeat: no-repeat;
	background-position: 0 50%;
}
.regrb li a:hover
{
	font-weight: normal;
}
.regrb li.current a
{
	font-weight: normal;
	background: url('../img/icon/cb_on.png');
	color:#111;
	background-repeat: no-repeat;
	background-position: 0 50%;
}
.post_tag {
    background-color: #e0eaf1;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
    color: #4a6b82;
    display: inline-block;
    line-height: 1.4;
    margin: 2px 2px 2px 0;
    padding: 3px 4px;
    text-decoration: none;
}
.post_tag_del {
    background-color: #e0eaf1;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
    color: #4a6b82;
    display: inline-block;
    line-height: 1.4;
    margin: 15px 10px 15px 0;
    padding: 2px 15px 2px 3px;
    text-decoration: none;
    white-space: nowrap;
	background-image:url("../img/icon/close.png");
	background-position:98% 50%;
	background-repeat:no-repeat;
	font-weight: normal;
}
.reg_tr {
	display: block;	
}
.main-top-table {
	border: 1px dashed #d3d3d3; 
	width: 100%; 
	height: 500px;; 
	border-collapse:collapse;
}
.main-top-table-td{
	border: 1px dashed #d3d3d3; 
	height: 50%;
}
.main-top-model {
    font-size: 14px;
    font-weight: bold;
    height: 27px;
    line-height: 25px;
    overflow: hidden;
    text-indent: 5px;
}
.c-list-item, .li, .list-bordered > li {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 5px;
    padding-bottom: 20px;
}
.job-list-item, .li, .list-bordered > li {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.topics-post-feed-item-reason {
    color: #999;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 5px;
}
.topics-post-feed-item-title {
    color: inherit;
    display: block;
    font-size: 12px;
    line-height: 21px;
    border-bottom: 1px dashed #d3d3d3; 
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.qa-topics-post-feed-item-title {
    color: inherit;
    display: block;
    font-size: 12px;
    line-height: 21px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.item-title {
	border-top: 1px dashed #d3d3d3;
	padding-top: 10px; 
}
.nav {
    background: #666 none repeat scroll 0 0;
    line-height: 24px;
    list-style-type: none;
    padding-left: 400px;
}
.nav a {
    display: block;
    text-align: center;
}
.nav a:link {
    color: #4d90bf;
    font-weight: bold;
    text-decoration: none;
}
.nav a:visited {
    color: #4d90bf;
    font-weight: bold;
    text-decoration: none;
}
.nav a:hover {
    color: #2496ec;
    font-weight: bold;
    text-decoration: none;
}
.nav li {
    float: left;
    margin-left: 30px;
    font-size: 14px;
}
.btn-plain {
    background: #fff none repeat scroll 0 0;
    border-color: #bbb;
    color: #555;
    text-shadow: none;
}
.btn {
    border: 1px solid #bbb;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 0;
    min-width: 30px;
    padding: 3px 15px;
    text-align: center;
    text-decoration: none !important;
    transition: border-color 0.1s linear 0s, opacity 0.1s linear 0s, background-color 0.1s linear 0s, color 0.1s linear 0s, box-shadow 0.1s linear 0s;
    vertical-align: middle;
}
.titlelbl {
	font-family: 微软雅黑; 
	line-height: 10px; 
	color: #009900;
}
.titlelbl-div{
	border-bottom: 1px solid #d3d3d3; 
	width: 60px;
}
.subject-div {
	border: 1px dashed #d3d3d3; 
	width: 290px; 
	height: 180px; 
	margin-right: 5px;
	margin-bottom: 10px;
	float: left; 
	width: 290px;
}
.subject-div table {
	width: 100%; 
	height: 130px; 
	margin-left: 3px;
}
.newline {
	overflow:hidden;
	text-overflow:ellipsis; 
	word-break:break-all;
}
.hiddenline{
	overflow:hidden;
	text-overflow:ellipsis; 
	word-break:break-all;
	white-space: nowrap;
}
.noteTitle {
	font-weight: bold;
}
.userTableBorder {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 13px; 
	WIDTH: 100%; 
	LINE-HEIGHT: normal; 
	FONT-STYLE: normal; 
	BACKGROUND-COLOR: #ffffff; 
	FONT-VARIANT: normal;
	BORDER-TOP: #3795d2 1px solid;
}
.userTableRow1 {
	BACKGROUND-COLOR: #f7f7f7
}
.userTableRow2 {
	BACKGROUND-COLOR: #f0f0f0
}
.tableText tr {
	height: 30px;
	text-align: left;
}
.tableText tr td {
	text-indent: 3px;
}
.userDirectTd {
	width: 100%; 
	height: 40px;
	padding: 5px;
	font-size: 14px;
}
.overflow-y{
	overflow-y: auto;
}
.post_file_del {
    color: #4a6b82;
    display: inline-block;
    line-height: 1.4;
    margin-right: 10px;
    padding: 3px 25px 4px 5px;
    text-decoration: none;
    white-space: nowrap;
	background-image:url("../img/icon/close.png");
	background-position:98% 50%;
	background-repeat:no-repeat;
	font-weight: normal;
}
.post_file_down {
    color: #4a6b82;
    display: inline-block;
    line-height: 1.4;
    margin-right: 10px;
    padding: 3px 10px 4px 5px;
    text-decoration: none;
    white-space: nowrap;
	background-position:98% 50%;
	background-repeat:no-repeat;
	font-weight: normal;
}
.radius{
	border: 1px dashed #d3d3d3;
    width:90px;
    height:70px;
    border-radius:5px;
    /*还可以设置50px  使其变成圆形的，还可以设置百分比  如  50% 也可以变成圆形的*/
}