@CHARSET "utf-8";
.page {
	margin: 10px 0px;
	float: right;
	font: 12px/1.15 Arial, Helvetica, sans-serif;
	color: 333px;
}

.page ul {
	margin: 0;
	padding: 0;
	display: block;
}

.page ul li {
	margin: 0;
	padding: 0;
	display: list-item;
	float: left;
	margin-left: 4px;
	list-style: none;
}

.page ul li a {
	background: #fff;
	display: block;
	padding: 0 9px 0 8px;
	border: solid 1px #99cc99;
	line-height: 21px;
	text-align: center;
	color: #009900;
	text-decoration: none;
	font-weight: bold;
}

.page ul li a:hover {
	cursor:pointer; .
	display: block;
	background: #009900;
	color: #fff;
}

.page ul li.current a {
	cursor:pointer
	display: block;
	background: #009900;
	color: #fff;
}